nav {
    font-family: Arial, Helvetica, sans-serif; font-size: 36px;
}

h1 {
    color: lightgreen; background-color: black;
}

p {
    background-color: yellow;
}

#main {
    border: red dotted 5px;
}

.blue-paragraph {
    border: blue dashed 3px;
}

.standout {
    margin: 400px;
    padding: 40px;
}